body {
    display: flex;
    align-items: center;
    background-color: #f9f5eb;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#settings {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#setting-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#clear {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #ea5455;
    border-color: #ea5455;
    color: white;
    
}

#slider {
    width: 200px;
}

#invisible-container {
    flex: 1;
}

#center-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 60px;
    color: rgb(241, 222, 115);

}

#container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 700px;
    background-color: #ea5455;
    border-radius: 50px;
    box-shadow: 10px 10px #ac2e2e;
}   

#screen {
    background-color: #f9f5eb;
    width: 500px;
    height: 500px;
    box-shadow: -4px -4px #ac2e2e;
    display: flex;
}

#buttons {
    display: flex;
    gap: 450px;
}

#left-button,
#right-button {
    background-color: #e4dccf;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 2px 3px #b19292;
}

#footer {
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: #f9f5eb;
    flex: 1;
    min-width: 0;
}


.divContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.divContainer,
.grid {
    margin: 0;
    padding: 0;
}

.draw {
    background-color: #b19292;
}

